* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#game {
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;

    background: url("./gameImages/backgroundImg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

#block {
    width: 80px;
    height: 700px;
    position: relative;
    left: 100%;
    animation: block 5s infinite linear;
    background: linear-gradient(
        rgba(255, 255, 255, 0.525),
        rgba(0, 0, 0, 0.24)
    );
    z-index: 2;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}

@keyframes block {
    0% {
        left: 100%;
    }

    100% {
        left: -60px;
    }
}

#hole {
    width: 20px;
    height: 200px;
    position: relative;
    left: 100%;
    top: 200px;
    animation: block 5s infinite linear;
    z-index: 3;
}

#hole::before {
    content: "";
    width: 80px;
    height: 100%;
    position: absolute;
    border-bottom: 10px solid #750404;
    border-top: 10px solid #750404;
    border-radius: 10%;
    background: wheat;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}
#hole::after {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    bottom: -185px;
left: -39px;
    background: #750404;
    /* transform: translateY(380px); */
    transform: rotate(20deg);
}

#character {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    z-index: 10;
    transition: all 1s inherit;
}

#score-div {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 4;
    font-size: 1.5rem;
}

@media (max-width: 560) {
    #container {
        height: 80%;
    }

    #game {
        height: 80%;
    }
}
