.upper-box {
    background-image: url(./img/Path15@2x.png);
    height: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-box {
    width: 80%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $mainColor;

    h1 {
        font-size: 5.3rem;
        font-weight: 900px;
    }

    p {
        color: $generalColor;
        font-size: 1.25rem;
        margin-top: 20px;
    }

}

.lower-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;

}

form {
    width: 70%;
    display: flex;
    justify-content: center;

    margin: 0 auto;


    .filed-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        color: $labColor;
        font-size: 1.2rem;
        font-weight: bold;
    }

    input {
        width: 90%;
        height: 50px;
        background-color: $inputBGC;
        border: none;
        border-bottom: 2px solid $mainColor;

    }

    button {
        width: 166px;
        height: 50px;
        background-color: $mainColor;
        margin-top: 20px;
    }
}

@media (max-width:$mobile) {
    .upper-box {
        height: 40vh;

        & .main-box {
            h1 {
                font-size: 3rem;
            }
        }
    }



    .lower-box {
        width: 100%;

        height: 60vh;
    }

    form {
        width: 100%;

        flex-direction: column;

        .filed-box {
            width: 70%;
            margin: 20px auto;
        }

        input {
            background-color: $inputMobileBGC;
        }


        button {
            width: 90%;
            font-size: 1.5rem;
            font-weight: bold;
        }

    }






}