header {
    direction: ltr;
    height: 100px;

    nav {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.561);

    }

    .nav-link {
        color: #fff;
        font-size: 1.5rem;
    }

    .pic {
        width: 60px;
    }
}