$vpWidth: 100vw;
$heebo: "Heebo", sans-serif;
$black: #000;
$white: #fff;
$logo-color: #00000090;
$links-color: #8eadde;
$title-color: #3A3A3A;
$box-shadow: 5px 0px 8px #0000004a;
$main-font-size: 4rem;
$bold: 900;
$description-font-size: 1.2rem;
$border: 1px solid #003d3938;
$gradient: linear-gradient(to right top, #527185, #587c97, #5f86a9, #6891bb, #739bce, #5f9dd2, #43a0d5, #00a2d6, #009bb7, #009088, #00814e, #1b6f04);
$contact-bgc: #3A3A3A;
$footer-bgc: #1AE0EC;
$blue: #1AE0EC;